{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    Chat
{% endblock %}
{% block specific_css %}
    <link href="{% static 'css/date_picker.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/botui/build/botui.min.css" >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/botui/build/botui-theme-default.css" >
{% endblock %}
{% block main %}
<div class = "bg_color_2">
	<div class = "box_background">
    	<div class="main_title_2" style="padding-top:20px;"><h3><strong style="color:#ededed;">Chatbot</strong></h3></div>
    	<div class="box_general_2">
	        <div class="botui-app-container" id="hello-world">
	            <bot-ui></bot-ui>
	        </div>
    	</div>
	</div>
</div> 
    <!-- /container -->
{% endblock %}
{% block specific_js %}
    <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/vue/latest/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/botui/build/botui.js"></script>
    <script>
        //#4 Initialization
        var botui = new BotUI('hello-world');
        //#5 API call
        botui.message.add({ // show a message
            delay: 200,
            loading:true,
            content: 'Whats your name?'
        }).then(function () { // wait till its shown
            return botui.action.text({ // show 'text' action
                action: {
                placeholder: 'Your name'
                }
            });
        }).then(function (res) { // get the result
            botui.message.add({
                delay: 200,
                loading:true,
                content: 'Hello, ' + res.value + '!'
            });
        }).then(function () { // wait till its shown
            return botui.action.text({ // show 'text' action
                action: {
                placeholder: 'Your name'
                }
            });
        }).then(function (res) { // get the result
            botui.message.add({
                delay: 200,
                loading:true,
                content: 'Hello, ' + res.value + '!'
            });
        }).then(function () { // wait till its shown
            return botui.action.text({ // show 'text' action
                action: {
                placeholder: 'Your name'
                }
            });
        }).then(function (res) { // get the result
            botui.message.add({
                delay: 200,
                loading:true,
                content: 'Hello, ' + res.value + '!'
            });
        });
        
    </script>          
{% endblock %}